.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    background-color: lightblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(170, 185, 235), rgb(218, 157, 167));
  }

  footer {
    height: 70px;
    background-color: rgb(24, 24, 24);
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
  }
}
